.container {
 text-align: center;
 display: block;
 height: 850px;
 margin: 40PX;
}

.pagination-controls {
  margin: 0 20px;
}

.card-list { 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.pagination {
  margin: 30px;
}

.pagination button {
  background-color: #1abc9c;
  padding: 10px;
  border: 0 none;
  border-radius: 10%;
  color: #fff;
  cursor: pointer;
}

button:disabled {
  background-color: #eee !important;
  color: #000 !important;
  cursor: not-allowed !important;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(33, 49, 59, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
}

.card-content {
  text-align: center;
  text-transform: capitalize;
}


.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px #0fcab144;
}


/* Responsive breakpoints */
@media (max-width: 1024px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {

.card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}

