<app-header></app-header>
<div *ngIf="pokemonList?.length > 0; else loading" class="container">
  <div class="card-list">
    <div *ngFor="let pokemon of pokemonList" class="card">
        <div class="card-content">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png"
              alt="{{ pokemon.name}}">
          <h4>{{ pokemon.name}}</h4>
        </div>
    </div>
  </div>
  <div class="pagination">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage == 1">Previous</button>
    <span class="pagination-controls">Page {{currentPage}} of {{(totalItems / itemsPerPage) | number:'1.0-0' }}</span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage >= totalItems / itemsPerPage">Next</button>
  </div>
</div>
<ng-template #loading>
  <div class="loader-container">
    <p class="loader"></p>
    <p>Loading...</p>
  </div>
</ng-template>

<app-footer></app-footer>